.container {
    padding-inline: 55px !important;
}

img {
    width: 40px;
    margin-right: 20px;
}

span {
    margin-right: 40px;
}

.CartWidgetNumber {
    margin-right: 24px;
    font-weight: 700;
    font-size: xx-large;
    text-decoration: none !important;
    color: black !important;
}