.btn-del {
    border: 2px solid;
    border-radius: 8px;
    color:white;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:8px;
    background: #f8b629;
    cursor:pointer;
    font-family: 'Roboto', sans-serif;
}

.btn-del:hover {
    background-color: #070708;
    text-decoration: none;
    color: white;
    border-color: white;
}

.ButtonLimpiarCarritoYRealizarCompra {
     align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  width: 180px;
  margin-inline: auto;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    
}

.ButtonLimpiarCarritoYRealizarCompra:hover {
    box-shadow:0px 0px 10px 1px black;
}