

    .ul-redes {
        position: relative;
        display: flex;
    }
    .li-redes {
        position: relative;
        list-style: none;
        margin: 0 25px;
        cursor: pointer;
    }
    .a-redes {
        text-decoration: none;
    }
    .fa-brands {
        font-size: 6em;
        color: #222;
    }
    .a-redes::before {
        translate: 0 -24px;
        font-family: "FontAwesome";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 6em;
        height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    .li-redes:nth-child(1) a::before {
        content: "\f16d";
        background-image: linear-gradient(45deg, 
          #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
          #bc1888 100%);
        -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
        border-bottom: 4px solid #dc2743;
    }
    .li-redes:nth-child(2) a::before {
        content: "\f232";
        color: #25D366;
        border-bottom: 4px solid #25D366;
    }
    .li-redes:nth-child(3) a::before {
        content: "\f099";
        color: #1DA1F2;
        border-bottom: 4px solid #1DA1F2;
    }
    .li-redes:hover a::before {
        height: 122%;
    }